<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.dao.UserMapper">

	<!--List<User> listUser();-->
	<select id="listUser" resultType="User">
		SELECT * FROM user
	</select>

	<update id="update">
		update user set password = #{password} WHERE id = #{id}
	</update>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user (username,password) values (#{username}, #{password})
	</insert>
</mapper>